$red: rgb(255, 58, 58);
$yellow: rgb(255, 205, 78);
$purple: rgb(92, 7, 144);
$black: rgb(0, 0, 0);
$grey-1: rgb(82, 82, 82);
$grey-2: rgb(133, 133, 133);
$grey-3: rgb(173, 173, 173);
$grey-4: rgb(201, 201, 201);
$grey-5: rgb(244, 244, 244);
$grey-6: rgb(251, 251, 251);
$white: rgb(255, 255, 255);
// colors with opacity
$white-op-05: rgba(255, 255, 255, 0.5);
// gradients
$turquoise: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%);
$purple-gradient: radial-gradient(122% 93.75% at 18.75% 6.25%, #4E5CDA 0%, #6E42B7 100%);
