.header {
    display: flex;
    align-items: center;
    padding: 30px 0; 
    border-bottom: 1px solid $grey-4;
}

@media (max-width: $breakpoint__md) {
    .header {
        padding: 15px 0;
    }
}